In [217]:
import pandas as pd
import numpy as np

In [218]:
df = pd.read_excel('input/Sample - Superstore.xls', sheet_name='Orders')

In [219]:
df.rename(columns=lambda x:x.replace(' ', '_'), inplace=True)
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country/Region,City,...,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [220]:
# Aggregate the data to the years each customer made an order
df['Order_Year'] = df['Order_Date'].dt.year
df_customer_order = df.groupby(by=['Customer_ID', 'Order_Year'], as_index=False)['Customer_Name'].count()
df_customer_order['Order_Flag'] = True
df_customer_order.drop(columns='Customer_Name', inplace=True)

In [221]:
df_customer_order.head()

  Customer_ID  Order_Year  Order_Flag
0    AA-10315        2018        True
1    AA-10315        2019        True
2    AA-10315        2020        True
3    AA-10315        2021        True
4    AA-10375        2018        True

In [222]:
# Calculate the year each customer made their First Purchase
df_customer_first = df_customer_order.groupby(by='Customer_ID', as_index=False)['Order_Year'].agg({'Frist_Purchase': 'min'})

In [223]:
df_customer_first.head()

  Customer_ID  Frist_Purchase
0    AA-10315            2018
1    AA-10375            2018
2    AA-10480            2018
3    AA-10645            2018
4    AB-10015            2018

In [224]:
# Scaffold the dataset so that there is a row for each year after a customers First Purchase, even if they did not make an order
df_customer = pd.DataFrame({'Customer_ID': df['Customer_ID'].drop_duplicates()})
df_customer['key'] = 1

df_year = pd.DataFrame({'Year': [2018, 2019, 2020, 2021]})
df_year['key'] = 1

df_customer = pd.merge(df_customer, df_year, how='left', on='key')
df_customer.drop(columns='key', inplace=True)

In [225]:
df_customer.head()

  Customer_ID  Year
0    CG-12520  2018
1    CG-12520  2019
2    CG-12520  2020
3    CG-12520  2021
4    DV-13045  2018

In [226]:
df_customer = pd.merge(df_customer, df_customer_order, how='left', left_on=['Customer_ID', 'Year'], right_on=['Customer_ID', 'Order_Year'])
df_customer = pd.merge(df_customer, df_customer_first, how='left', on='Customer_ID')

In [227]:
df_customer['Order_Year'] = df_customer['Order_Year'].fillna(0).astype('int')

In [232]:
# どちらがTrueにした方がいい？
df_customer['Drop_Flag'] = df_customer['Frist_Purchase'] > df_customer['Year']
df_customer = df_customer[df_customer['Drop_Flag'] == False]

In [233]:
df_customer

,Customer_ID,Year,Order_Year,Order_Flag,Frist_Purchase,Drop_Flag,Prev_order
2,CG-12520,2020,2020,True,2019,False,0
3,CG-12520,2021,2021,True,2019,False,2020
7,DV-13045,2021,2021,True,2020,False,0
10,SO-20335,2020,0,NaN,2019,False,0
11,SO-20335,2021,2021,True,2019,False,0
...,...,...,...,...,...,...,...
3163,SC-20845,2021,2021,True,2020,False,0
3165,RE-19405,2019,0,NaN,2018,False,0
3166,RE-19405,2020,0,NaN,2018,False,0
3167,RE-19405,2021,0,NaN,2018,False,0
3171,SM-20905,2021,0,NaN,2020,False,0

In [230]:
df_customer["Prev_order"] = df_customer.groupby(['Customer_ID'])["Order_Year"].transform(lambda x: x.shift())\
                            .fillna(0).astype('int')

In [244]:
df_customer['Customer_Classification'] = np.where(df_customer['Order_Year'] == df_customer['Prev_order'] +1, 'Consistent',
                                         np.where(df_customer['Order_Flag'].isnull(), 'Sleeping',
                                         np.where(df_customer['Prev_order'] == df_customer['Order_Year'], 'New', 'Returning')))